.jumbotron{
    background-image: url('https://images.unsplash.com/photo-1520277739336-7bf67edfa768?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    background-size: cover ;
    height: 90vh;
    width: 100%;
}
.imagetext{
    padding-top: 200px;
}
.btn-dark:hover{
    color: black;
    background-color: white;
}


body{
    background:rgb(219,226,226);
}
